<?xml version="1.0" encoding="utf-8"?>
<widget xmls		="http://www.w3.org/ns/widgets"
		xmlns:gap	= "http:// phonegap.com/ns/1.0"
		id			= "com.wahyupur.tematik2  "
		versioncode	="1"
		version	="1.0.0">
		
		
	<name> SD Tematik Hidup Rukun 			</name>
	<description>Mobile learning SD Tematik Hidup Rukun</description>
	<author href ="http://wahyupur.wordpress.com" email= "wahyupur@gmail.com">
	Neil Rowe
	</author>
	<plugin name="com.candygram.media" spec="0.0.3" source="pgb" />
	</widget>
